[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mixalunn
[access "refs/for/refs/*"]
	read = group user/mixalunn
	push = group user/mixalunn
	label-Code-Review = -2..+2 group user/mixalunn
	label-Verified = -1..+1 group user/mixalunn
	rebase = group user/mixalunn
	removeReviewer = group user/mixalunn
	submit = group user/mixalunn
[access "refs/heads/*"]
	read = group user/mixalunn
	create = group user/mixalunn
	push = +force group user/mixalunn
	pushMerge = group user/mixalunn
[access "refs/tags/*"]
	push = +force group user/mixalunn
	pushTag = group user/mixalunn
	pushSignedTag = group user/mixalunn
