[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michail Yuncevich (mixalunn)
[access "refs/for/refs/*"]
	read = group user/Michail Yuncevich (mixalunn)
	push = group user/Michail Yuncevich (mixalunn)
	label-Code-Review = -2..+2 group user/Michail Yuncevich (mixalunn)
	label-Verified = -1..+1 group user/Michail Yuncevich (mixalunn)
	rebase = group user/Michail Yuncevich (mixalunn)
	removeReviewer = group user/Michail Yuncevich (mixalunn)
	submit = group user/Michail Yuncevich (mixalunn)
[access "refs/heads/*"]
	read = group user/Michail Yuncevich (mixalunn)
	create = group user/Michail Yuncevich (mixalunn)
	push = +force group user/Michail Yuncevich (mixalunn)
	pushMerge = group user/Michail Yuncevich (mixalunn)
[access "refs/tags/*"]
	push = +force group user/Michail Yuncevich (mixalunn)
	pushTag = group user/Michail Yuncevich (mixalunn)
	pushSignedTag = group user/Michail Yuncevich (mixalunn)
